@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  font-family:'Inter', sans-serif;
  background-color:#090b1a;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  min-height:100vh;
}
.card{
  width:1080px;
  height:450px;
  color:#fff;
 
}
.card__content{
  display: flex;
}
.card__text,.card__image{
  width:50%;
}
.card__text{
  background-color:hsl(244, 38%, 16%);
  padding:50px;
}
.card__text-paragraph{
  color:hsla(0, 0%, 100%, 0.75);
  padding-bottom:35px;
}
.card__image{
  display: inherit;
  position: relative;
  background-color:#aa5cdb;
}
img {
  mix-blend-mode: multiply;
  opacity: 0.75;
}
.card__text-paragraph{
  text-align:left;
}

.card__text-stats{
  display:flex;
  gap:70px;
  font-weight:700;
  font-size:22px;
  
}
.stats_lower{
  text-transform: uppercase;
  font-size:12px;
  font-weight: 400;
  color:hsla(0, 0%, 100%, 0.6);
  font-family:"Inter",sans-serif ;
}
.attribution {
   font-size: 11px;
    text-align: center; 
  }
.attribution a { 
  color: hsl(228, 45%, 44%);
 }
 @media (max-width:575px){
   .card{
     width:75%;
     height:auto;
   }
   .card__content{
     flex-direction:column-reverse;
   }
   .card__text{
    width:100%;
  }
  .card__pic{
    width:auto;
  }
  .card__image{
   width:100%;
  }
  img{
    width:400px;
    height: 300px;
  }
  .card__text-header, .card__text-paragraph{
    text-align:center;  
  }
  .card__text-stats{
    flex-direction:column;
    gap:5px;
    align-items: center;
    font-weight: 900;
    font-size:25px;
  }  
  
  
 }